<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <div class="d-flex align-content-center navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </div>
    <button routerLink="/login" class="btn btn-danger button__navbar">Logout</button>
  </div>
</nav>
