<div class="map-container py-4">
  <ya-map [center]="[+address.geo?.lat, +address.geo?.lng]" [zoom]="8">
    <ya-placemark
      [geometry]="[+address.geo?.lat, +address.geo?.lng]"
      [properties]="placemarkProperties"
      [options]="placemarkOptions"
    ></ya-placemark>
  </ya-map>
</div>
