<div class="container w-25 mt-5">
  <h2>Login</h2>
  <h6>Please enter email and password</h6>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
    <input formControlName="lastname" class="form-control mb-3" type="text" placeholder="Last Name">
    <input formControlName="password" class="form-control mb-3" type="password" placeholder="password">
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <a class="text-dark d-block mt-3" routerLink="/signup">New user? Click to signup!!</a>
</div>
