<form [formGroup]="userForm" (submit)="submit()">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12" class="mb-3" *ngIf="user?.id">
      <label for="id">Id</label>
      <nz-input-number [nzDisabled]="userForm.get('id')!.value !== null" nz-input id="id" class="base-input" formControlName="id"></nz-input-number>
    </div>

    <div nz-col nzSpan="12" class="mb-3">
      <label for="name">Name</label>
      <input nz-input id="name" formControlName="name" type="text">
    </div>

    <div nz-col nzSpan="12" class="mb-3">
      <label for="username">User Name</label>
      <input nz-input id="username" formControlName="username" type="text">
    </div>

    <div nz-col nzSpan="12" class="mb-3">
      <label for="email">Email</label>
      <input nz-input id="email" formControlName="email" type="email">
    </div>

    <ng-container formGroupName="address" class="d-flex w-100">
      <div nz-col nzSpan="12" class="mb-3">
        <label for="street">Street</label>
        <input nz-input id="street" formControlName="street" type="text">
      </div>

      <div nz-col nzSpan="12" class="mb-3">
        <label for="suite">Suite</label>
        <input nz-input id="suite" formControlName="suite" type="text">
      </div>

      <div nz-col nzSpan="12" class="mb-3">
        <label for="city">City</label>
        <input nz-input id="city" formControlName="city" type="text">
      </div>

      <div nz-col nzSpan="12" class="mb-3">
        <label for="zipcode">Zipcode</label>
        <input nz-input id="zipcode" formControlName="zipcode" type="text">
      </div>

      <ng-container formGroupName="geo">
        <div nz-col nzSpan="12" class="mb-3">
          <label for="lat">Lat</label>
          <input nz-input id="lat" formControlName="lat" type="text">
        </div>

        <div nz-col nzSpan="12" class="mb-3">
          <label for="lng">Lng</label>
          <input nz-input id="lng" formControlName="lng" type="text">
        </div>
      </ng-container>

    </ng-container>

    <div nz-col nzSpan="12" class="mb-3">
      <label for="phone">Phone</label>
      <input nz-input id="phone" formControlName="phone" type="text">
    </div>

    <div nz-col nzSpan="12" class="mb-3">
      <label for="website">Website</label>
      <input nz-input id="website" formControlName="website" type="text">
    </div>

    <ng-container formGroupName="company">
      <div nz-col nzSpan="12" class="mb-3">
        <label for="companyName">Company Name</label>
        <input nz-input id="companyName" formControlName="name" type="text">
      </div>
      <div nz-col nzSpan="12" class="mb-3">
        <label for="catchPhrase">Catch Phrase</label>
        <input nz-input id="catchPhrase" formControlName="catchPhrase" type="text">
      </div>
      <div nz-col nzSpan="12" class="mb-3">
        <label for="bs">Bs</label>
        <input nz-input id="bs" formControlName="bs" type="text">
      </div>
    </ng-container>

  </div>

  <button class="d-flex ml-auto" nz-button nzType="primary" type="submit">Save</button>
</form>
