<div class="container w-25 mt-5">
  <h2>Sign Up</h2>
  <h6>Register Yourself</h6>
  <form class="form" [formGroup]="signupForm" (ngSubmit)="signUp()">
    <input formControlName="fullname" class="form-control mb-3" type="text" placeholder="Full Name">
    <input formControlName="lastname" class="form-control mb-3" type="text" placeholder="Last Name">
    <input formControlName="mobile" class="form-control mb-3" type="text" placeholder="Mobile Number">
    <input formControlName="email" class="form-control mb-3" type="text" placeholder="e-mail">
    <input formControlName="password" class="form-control mb-3" type="password" placeholder="password">
    <button class="btn btn-primary">Sign up</button>
  </form>
  <a class="text-dark d-block mt-3" routerLink="/login">Already registered? Click to Login!!</a>
</div>
