.box-size {
  box-sizing: border-box;
}

.input-name-padding {
  padding-left: 8px;
  padding-right: 8px;
}

.c-silver {
  color: #7C8DB5;
}

.break-word {
  word-break: break-word;
}

.card-border {
  border: 1px solid #E6EDFF;
  border-radius: 12px;
}

.table-select {
  background-color: #F9F9FF;
  box-shadow: inset 0 2px 10px rgba(124, 141, 181, 0.15);
  border-radius: 8px;
}

.card {
  width: calc((100% / 4) - 10px);
  margin-right: 12.5px;
  margin-bottom: 20px;
}

.card:nth-child(4n) {
  margin-right: 0;
}

.show-on-sm {
  display: none;
}

.hide-on-sm {
  display: block;
}

.d-flex-to-grid-on-sm {
  display: flex;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.v-align-bottom {
  vertical-align: bottom;
}

.v-align-top {
  vertical-align: top;
}

.c-primary {
  color: #347AE2 !important;
}

.c-black {
  color: #000000;
}

.c-white {
  color: white;

  &:hover {
    color: white;
  }
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.fs-35 {
  font-size: 35px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-17 {
  font-size: 17px;
}

.fs-16 {
  font-size: 16px;
}

.fs-15 {
  font-size: 15px;
}

.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

.fs-12 {
  font-size: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.align-items-start{
  align-items: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: end;
}

.m-0 {
  margin: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mt-1 {
  margin-top: .25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.pb-3 {
  padding-bottom: 1rem;
}

.ml-3 {
  margin-left: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.m-auto {
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ml-5 {
  margin-left: 3rem;
}

.p-0 {
  padding: 0;
}

.py-0 {
  padding-top: 0;
}

.py-0 {
  padding-bottom: 0;
}

.px-2 {
  padding-right: .5rem;
  padding-left: .5rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.px-4 {
  padding-right: 1.5rem;
}

.px-4 {
  padding-left: 1.5rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.max-w-200 {
  max-width: 200px;
}

.max-w-300 {
  max-width: 300px;
}

.max-w-350 {
  max-width: 350px;
}

.max-w-500 {
  max-width: 500px;
}

.max-w-600 {
  max-width: 600px;
}

.min-w-250 {
  min-width: 250px;
}

.min-w-500 {
  min-width: 500px;
}

.min-w-700 {
  min-width: 700px;
}

.min-h-100 {
  min-height: 100%;
}

.w-200 {
  width: 200px;
}

.w-150 {
  width: 150px;
}

.w-300 {
  width: 300px;
}

.w-400 {
  width: 400px;
}

.w-500 {
  width: 500px;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.flex-column {
  flex-direction: column;
}

.card-padding-base {
  padding: 1.5rem;
}

.box-shadowed {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.borderless {
  border: none;
}

.h-100 {
  height: 100%;
}

.h-400 {
  height: 400px;
}

.h-300 {
  height: 300px;
}

.h-500 {
  height: 500px;
}

.h-auto {
  height: auto;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-bottom {
  border-bottom: 1px solid #f0f0f0;
}

.nowrap {
  white-space: nowrap;
}

.base-input {
 border-right: 5px;
}

// text style h2
.text-style {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.border-1 {
  border: 1px solid #E6EDFF;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: bolder;
}

.text-ellipsis {
  display: block;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  border: 0;
  outline: none;
  cursor: pointer;
}

.calc-width {
  width: calc(100% / 2);
}

.fake-input {
  padding: 4px 11px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  font-weight: 500;
  transition: all .3s;
}

.fake-input:hover {
  border-color: #40a9ff;
  border-right-width: 1px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.list {
  margin: 0;
}

@media screen and (max-width: 1450px) {
  .card-padding-base {
    padding: 10px 40px;
  }
}
