<app-navbar></app-navbar>

<div class="px-3 py-5">
  <button nz-button nzType="primary" class="d-flex justify-content-end mb-3 ml-auto" (click)="openDrawer()">Add User</button>
  <div *ngIf="users?.length; else: noData" class="d-flex flex-wrap">
    <nz-card *ngFor="let user of users" class="card" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
      <nz-card-meta
        [nzTitle]="user.name"
        [nzDescription]="user.username"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>

      <nz-list nzSize="small" class="mt-3">
        <nz-list-item>
          <span class="text-gray font-weight-500 mr-3">Address</span>
          <span>{{user.address?.city}}</span>
        </nz-list-item>
        <nz-list-item>
          <span class="text-gray font-weight-500 mr-3">Email</span>
          <span>{{user.email}}</span>
        </nz-list-item>
        <nz-list-item>
          <span class="text-gray font-weight-500 mr-3">Phone</span>
          <span>{{user.phone}}</span>
        </nz-list-item>
      </nz-list>
      <ng-template #avatarTemplate>
        <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      </ng-template>
      <ng-template #actionSetting>
        <button nz-button nzType="default" class="border-0" (click)="openMap(user.address)">
          <span nz-icon nzType="environment"></span>
        </button>
      </ng-template>
      <ng-template #actionEdit>
        <button nz-button nzType="default" class="border-0" (click)="openDrawer(user)">
          <span nz-icon nzType="edit"></span>
        </button>
      </ng-template>
      <ng-template #actionEllipsis>
        <button nz-button nzType="default" class="border-0" (click)="delete(user)">
          <span nz-icon nzType="delete"></span>
        </button>
      </ng-template>
    </nz-card>
  </div>
</div>

<ng-template #noData>
  <div class="h-400 d-flex align-items-center justify-content-center">
    <nz-empty [nzNotFoundContent]="null"></nz-empty>
  </div>
</ng-template>
